@layout('layout.master')

@section('content')
  <div class="columns">
    <div class="column is-3">
      <div class="box">
        @include('component.sidebar')

      </div>

    </div>
  </div>
@endsection
